@import "tailwindcss";
@import '@fontsource-variable/saira';

* {
  font-family: 'Saira Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

@theme {
  --color-brand: #F05F00;
}

@layer components {
  .text-primary {
    @apply text-stone-800;
  }

  .text-secondary {
    @apply text-stone-600;
  }

  .text-brand {
    @apply text-brand;
  }

  .bg-default {
    @apply bg-stone-50;
  }
}
